<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <i class="fas fa-film text-secondary"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'New List', new_list_path %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/featured/?movietheater&<%= rand(1000) %>);">
  <div class="container">
    <h1>Movie List Generator</h1>
    <p>Create your own lists and save all your favorite movies!</p>
  </div>
</div>


<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? "#{cl_image_path(list.photo.key)}" : "http://source.unsplash.com/featured/?#{list.name}&#{rand(1000)}"%>);">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>

<%# list.photo.attached? ? "#{cl_image_path(list.photo.key)}" : 'http://source.unsplash.com/featured/?<%= list.name %>
