<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/featured/?<%= @list.name %>&<%= rand(1000) %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class='add'><%= link_to 'Add a movie', new_list_bookmark_path(@list) %></div>

<div class="movie_cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="movie_card">
          <div class="movie_poster" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.tmdb.org/t/p/w1000<%= bookmark.movie.poster_url %>)"></div>
          <div class= 'movie_content'>
              <div class='title_container'>
                <p><%= bookmark.movie.title %></p>
                <p><i class="fas fa-star"></i><%= bookmark.movie.rating %></p>
              </div>
              <p class='movie_overview'><%= bookmark.movie.overview %></p>
              <div class="bookmark_container">
                <p class="bookmark_item"><i class="far fa-bookmark"></i> <%= bookmark.comment %></p>
                <%= link_to list_bookmark_path(list_id: bookmark.list_id, bookmark_id: bookmark.id), method: :delete, class: "bookmark_item text-secondary" do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
          </div>
      </div>
    <% end %>
</div>
